<%= video_tag video.file_url(:original), poster: video.file_url(:size_640), controls: true, class: 'img-responsive' %>

<% if local_assigns[:full] %>
  <div class="">
    <h4>Metadata of the original file</h4>
    <table class="table table-bordered">
      <tbody>
        <% video.file[:original].metadata.each do |key, value| %>
          <tr>
            <td>
              <%= key.humanize %>
            </td>
            <td>
              <%= value %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>