<div class="page-header">
  <h2>
    Babylon-Media
    <small>media.babylon-online.org</small>
  </h2>
</div>


<div class="row" style="margin:60px 0;">
  <div class="col-md-9 col-centered">
    <%= render "shared/search" %>
  </div>
</div>


<p>
  Images and Documents
</p>
<h4>Todo</h4>
<ul>
  <li>obfuscate url</li>
  <li>friendly id mit obfuscate id</li>
  <li>append an die richtige stelle</li>
  <li>thumb formate definierten</li>  
  <li>api</li>
  <li>tags</li>
  <li>keywords</li>
  <li>api create keywords</li>
  <li>will paginate mit endless scroll</li>
  <li>show page als overlay</li>
  <li>bildinfos auslesen</li>
</ul>