<% if local_assigns[:full] %>
  <iframe src="http://docs.google.com/gview?url=<%= "#{Rails.application.secrets.host}#{document.file_url}" %>&embedded=true" 
  style="width:100%; height:500px;" frameborder="0"></iframe>
<% end %>
<%= link_to 'object', document.file_url %>


<% if local_assigns[:full] %>
  <div class="">
    <h4>Metadata of the original file</h4>
    <table class="table table-bordered">
      <tbody>
        <% document.file.metadata.each do |key, value| %>
          <tr>
            <td>
              <%= key.humanize %>
            </td>
            <td>
              <%= value %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>