<div id="filterrific_results">

  <div class="collapse" id="record-access-settings">
    <%= share_multiple_with(Subject) %>
  </div>

  <div class="list-group" id="subject-results-list-group">
    <% subjects.each do |subject| %>
      <%= render(partial: 'subjects/list_item', locals: { subject: subject }) %>
    <% end %>
  </div>
  
  <div id="pagination-results">
    <%= will_paginate subjects, params: params.merge({filterrific: nil}), renderer: BootstrapPagination::Rails %>
  </div>
</div>