<% title 'Upload Files' %>

<%= simple_form_for(@subject, html: { multipart: true }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.file_field :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>