$('#edit_subject_<%= @subject.id %>_tags_form').append('<span class="text-success small pull-right"><%= fa_icon('check') %></span>');
$('.text-success').fadeOut(1800,function(){ $(this).span.remove(); });